body{
    overflow-x: hidden;
}

h1{
    text-align: center;
    font-family: 'Tilt Prism', cursive;
    font-size: 78px;
}

.navbar{
    font-size: 1.25rem;
}

.container-md{
    text-align: center;
}

label{
    font-size: x-large;
}

input{
    font-size: x-large;
}

